<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <div>
    <input type="checkbox" name="<%= task.title %>"
    <%= task.completed ? "checked" : "unchecked" %>>
    <label for="<%= task.title %>"><%= link_to task.title, task_path(task.id) %>
</label>
    <a href="#"><%= link_to "Delete", task_path(task),
        method: :delete,
        data: { confirm: "Are you sure you want to delete the task?" } %>
        <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
<% end %>

<a><%= link_to "Add a new task", tasks_new_path %></a>



